<div class="container mt-4">
  <div class="row">
    <div class="col-sm text-center">
      <div class="card azul" style="width: 18rem;">
        <img class="card-img-top" src="assets/imagenes/m.png" alt="Card image cap" height="400px" width="200px">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text text-justify">En R.V.C somos innovadores con espíritu de servicio. Activos en el mercado mexicano desde 1998, tenemos artículos de papelería de calidad y al mejor precio, en beneficio de nuestros clientes.</p>
        </div>
      </div>
    </div>
    <div class="col-sm text-center">
      <div class="card verde" style="width: 18rem;">
        <img class="card-img-top" src="assets/imagenes/v.png" alt="Card image cap" height="400px" width="200px">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text text-justify">La calidad es importante, y el cliente nuestra prioridad. Nuestro objetivo mantener la calidad de nuestros artículos, ampliar la variedad de los mismos con los mejores precios de México.</p>
        </div>
      </div>
    </div>
    <div class="col-sm text-center">
      <div class="card rojo" style="width: 18rem;">
        <img class="card-img-top" src="assets/imagenes/vv.png" alt="Card image cap" height="445px" width="200px">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text text-left">
            Calidad,
            Transparencia,
            Honestidad,
            Compromiso,
            Innovación,
            Rentabilidad,
            Respeto y
            Trabajo en equipo

        </div>
      </div>
    </div>
  </div>
</div>
<br>
