<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="col-md-12" style="margin-top: 15px">
        <div class="jumbotron bg-white">
          <h2><strong>La Pape R.V.C</strong></h2>
          <br>
          <h6 class="">Esquina Plutarco Elias Calles <br>
            Av Telecomunicaciones <br>
            Chinampac de Juárez<br>
            CDMX C.P. 09240 <br>
            México
          </h6>
          <hr class="my-3">
          <p> Télefono: 55 5773 8210<br>
            <b>Correo: itiz@iztapalapa.tecnm.mx
            </b></p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="col-md-12 text-center" style="margin-top: 15px">
         <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.755560863189!2d-99.05500468533724!3d19.37973404739144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fd0614558e4b%3A0x3760847a107a0b9f!2sInstituto%20Tecnol%C3%B3gico%20de%20Iztapalapa!5e0!3m2!1ses!2smx!4v1572968194520!5m2!1ses!2smx"
          width="600" height="390" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
