
.zoom:hover{
 -webkit-transform:scale(1.0);transform:scale(1.1);
overflow:hidden;

}

.sombra{
  -webkit-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.75);
}
